.home-page {
	@mixin all-size-max;
	
	&__container {
		@mixin all-size-max;
	}

	&__wrapper {
		overflow: hidden;
	}

	&__slider {
		@mixin display-flex row, nowrap, center, center;
		@mixin all-size-max;
		font-size: 24px;
		color: $white;
	}
}